{% extends "users/base.html" %}
{% load static %}
{% block title %}Project Dashboard{% endblock %}

{% block content %}
<style>
    .project-title {
        font-size: 1.5rem; /* Increase the font size */
        font-weight: bold; /* Make the title bold */
        color: #2c3e50; /* Darker color for the title */
        text-decoration: none; /* Remove underline from link */
    }
    .project-title:hover {
        text-decoration: underline; /* Underline on hover */
    }
    .progress {
        height: 30px; /* Make the progress bar thicker */
    }
    .progress-bar {
        font-size: 1.25rem; /* Increase the font size of the percentage text */
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="container mt-3">
    <div class="text-center">
        <h1 class="mb-4">{{ project.title }}</h1>
    </div>
    <div class="progress mb-3">
        <div class="progress-bar" role="progressbar" style="width: {{ percent_passed }}%;" aria-valuenow="{{ percent_passed }}" aria-valuemin="0" aria-valuemax="100">
            {{ percent_passed|floatformat:2 }}%
        </div>
    </div>
    <div class="text-end">
        <small>End Date: {{ project.date_end|date:"l, F j, Y" }}</small>
    </div>
    <h3>Tasks:</h3>
    <ul class="list-group">
        {% for task in project.tasks.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5>{{ task.title }}</h5>
                <p>{{ task.content }}</p>
                <small class="text-muted">Due by: {{ task.date_end|date:"l, F j, Y" }}</small>
            </div>
            <form action="{% url 'delete_task' task_id=task.id %}" method="post" class="mb-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
        {% empty %}
        <li class="list-group-item">No tasks found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
